<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindful Minutes</title>
    <link rel="stylesheet" href="/templates/styles.csses.css">
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <div class="icon home"><img src="home_icon.png" alt="Home"></div>
        <div class="icon target"><img src="target_icon.png" alt="Target"></div>
        <div class="icon flag"><img src="flag_icon.png" alt="Flag"></div>
        <div class="icon user"><img src="user_icon.png" alt="User"></div>
    </aside>
    <main class="main-content">
        <header>
            <h1>New Day, New Challenge</h1>
            <p>Add your steps for today</p>
        </header>

        <form th:action="@{/User/addSteps}" th:object="${stp}" th:method="POST">
            <label for="steps">Steps</label>
            <input type="number" id="steps" th:field="*{steps_number}" required>

            <label for="date">Date</label>
            <input type="date" id="date" th:field="*{date}" required>

            <button type="submit">Add Steps</button>
        </form>
        <div class="shoes">
            <img src="shoes_icon.png" alt="Shoes">
        </div>
    </main>
</div>
</body>
</html>
